/* PC */

@media (min-width: 1141px) {
    #content .content-info .info-list-item {
        min-width: 1000px;
    }
}

@media (max-width: 1140px) {
    .content-info .info-list-item {
        flex-direction: column;
    }

    .service h1 {
        font-size: 250px;
    }

    .work-box .w-box-list {
        height: 100%;
    }
}

@media (max-width: 879px) {

    .work h1,
    .about h1 {
        font-size: 200px;
        transform: translate(-50%, -43%);
    }

    #content {
        margin-bottom: 0px;
    }

    .service h1 {
        font-size: 150px;
        transform: translate(-50%, -20%);
    }

    .service-box {
        flex-direction: column;
    }

    .service-box .service-img {
        display: none;
    }

    .container-blog .blog-main{
        margin-left: 0;
        margin-right: 0;
    }

    .container-footer {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .service-info .s-info-list-content {
        flex-direction: column;
    }

    .service-box {
        margin-left: 20%;
        margin-right: 0px;
    }
    .content-info .info-list-item .info-text .text-script {
        padding-left: 60px;
    }

    .content-info .info-list-item .info-text {
        font-size: 50px;
    }
    .container-service{
        padding-bottom: 200px;
        margin-bottom: 0;
    }
    .container-work{
        padding-bottom: 100px;
    }
    .container-work .work-head {
        display: none;
    }

    .work-box .overlay-work-box,
    .work-box .w-box-list {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .w-box-list .w-list-item span {
        font-size: 25px;
        padding: 25px 30px;
    }
    .work-detail .w-detail-text{
        padding: 0;
    }
    .blog h1{
        font-size: 250px;
    }
    .container-blog .blog-head{
        display: none;
    }
    .container-blog .blog-main .b-box-list{
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 590px) {
    .work h1 {
        font-size: 80px;
        transform: translate(-50%, -80%);
    }

    .about h1 {
        font-size: 80px;
        transform: translate(-50%, 100%);
    }

    .service h1 {
        font-size: 80px;
        transform: translate(-50%, 30%);
    }
    .blog h1{
        font-size: 80px;
        padding-bottom: 20px;
    }
    #content .content-info .info-list-item {
        margin-left: 5%;
        margin-right: 5%;
    }

    .service-info .s-info-tittle {
        margin-right: 5%;
        margin-bottom: 0;
    }

    .service-info .service-head {
        left: -40px;
        top: 24em;
    }
}

@media (max-width: 440px) {
    #header .menu {
        width: 100%;
    }
    .content-info .info-list-item .info-text .text-about p::after{
        right: -160px;
    }
}

@media (max-width: 400px) {

    .service-box {
        margin-left: 10%;
    }

    #header .menu .menu-search {
        padding-left: 20px;
    }

    #header .menu ul.menu-item {
        padding-left: 20px;
    }
}

/* Tablet */
/* Phone */