/* General */
body {
  background: #fafafa;
  font-family: "Playfair Display", Georgia, serif;
}

a {
  color: #CA82F8;
  text-decoration: none;
}

.blog,
.work,
.service {
  color: #f0f0f0;
  font-weight: 700;
}

.blog h1,
.work h1,
.service h1 {
  position: absolute;
  left: 50%;
  margin: 0;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 310px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.container-blog .blog h2,
.container-work .work h2,
.service-info .s-info-tittle span {
  padding-top: 90px;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: #bfbfbf;
  font-weight: 600;
  font-family: "Karla", Arial, sans-serif;
}

.container-blog .blog-main .b-box-item .b-item-text h2,
.container-blog .blog h3,
.work-detail .w-detail-title h1,
.container-work .work h3,
.service-info .s-info-tittle h1 {
  margin-top: 0;
  font-size: 43px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5em;
  color: #000;
  position: relative;
}

.container-blog .blog-head,
.container-work .work-head,
.service-info .service-head {
  position: absolute;
  top: 20em;
  left: -80px;
}

.container-blog .blog-head h1,
.container-work .work-head h1,
.service-info .service-head h1 {
  font-family: "Karla", Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1em;
  transform-origin: left top 0;
  position: relative;
  transform: rotate(90deg);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.container-blog .blog-head h1::after,
.container-work .work-head h1::after,
.service-info .service-head h1::after {
  position: absolute;
  top: 10px;
  right: -55px;
  content: '';
  background: #000;
  width: 50px;
  height: 1px;
}

.container-blog .blog h2,
.container-work .work h2 {
  padding-top: 45px;
  text-align: center;
}

.container-blog .blog h3,
.container-work .work h3 {
  text-align: center;
}

.container-blog .blog-head,
.container-work .work-head {
  top: auto;
  left: 60px;
}


/* Animation */

.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease;
}

.animate {
  opacity: 0;
  transform: translateY(100px);
  transition: all 3s ease;
}

/* Overlay */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* text about */

.about {
  color: #f0f0f0;
  font-weight: 700;
}

.about h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 310px;
  position: absolute;
  top: -4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* text service - work */

/* Header */

#header .nav-bar {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 40px 0;
}

#header .nav-bar .logo {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  letter-spacing: 5px;
  padding: 10px 0;
  border: 1px solid #000;
  display: block;
  text-align: center;
  background: #000;
  font-family: "Karla", Arial, sans-serif;
  width: 6%;
  min-width: 70px;
  z-index: 1;
  cursor: pointer;
}

#header .nav-bar .logo span {
  display: block;
  margin-bottom: 0;
  line-height: 1.2;
  color: #fff;
  font-size: 23px;
}

/* menu */

#header .nav-bar .menu-toggle {
  display: block;
  align-self: center;
}

#header .nav-bar .menu-toggle img {
  width: 30px;
  height: 30px;
}

#header .nav-bar .menu-toggle img:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

#header .menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 440px;
  height: 100%;
  z-index: 1;
  display: none;
  overflow-y: scroll;
  transform: scale(0.1);
  transition: all 0.5s ease;
}

#header .menu ul.menu-item {
  padding-top: 20px;
  height: 1300px;
  list-style: none;
}

#header .menu ul.menu-item li {
  text-transform: uppercase;
  font-family: "Karla", Arial, sans-serif;
  font-size: 18px;
  padding: 17px 0;
}

#header .menu ul.menu-item li a {
  color: #000;
}

#header .menu ul.menu-item li a:hover {
  color: #CA82F8;
  transition: 0.4s;
}

/* Menu close button */
#header .menu .menu-close {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 3px;
  background-color: #e4e4e4;
  cursor: pointer;
  margin-left: 74%;
  margin-top: 10px;
}

#header .menu .menu-close:hover {
  background-color: #000;
  transition: 0.3s;
}

#header .menu .menu-close:hover span::before,
#header .menu .menu-close:hover span::after {
  background: #f2f2f2;
}

#header .menu .menu-close span::before {
  position: absolute;
  margin-top: 27px;
  margin-left: 13px;
  content: '';
  background: #000;
  width: 27px;
  height: 2px;
  transform: rotate(45deg);
}

#header .menu .menu-close span::after {
  position: absolute;
  margin-top: 27px;
  margin-left: 13px;
  content: '';
  background: #000;
  width: 27px;
  height: 2px;
  transform: rotate(-45deg);
}


#header .menu .menu-search {
  padding-top: 20px;
  padding-left: 40px;
}


input[type="text"] {
  font-family: "Karla", Arial, sans-serif;
  padding: 20px 70px 20px 20px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 3px;
  background-color: #fafafa;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: #000;
  font-size: 17px;
  width: 500px;
}

#header .menu .menu-search button {
  padding: 20px;
  background-color: #CA82F8;
  border: none;
  transform: translate(-6px, 4px);
}

#header .menu .menu-search button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.8s ease;
}

#header .menu .menu-search button img {
  width: 20px;
  height: 20px;
}

/* Content */
#content {
  margin-bottom: 300px;
}

#content .content-info .info-list-item {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.content-info .info-list-item .info-img {
  flex-basis: 40%;
}


.content-info .info-list-item .info-img img {
  width: 100%;
}

.content-info .info-list-item .info-text {
  flex-basis: 48%;
  font-size: 60px;
  padding-top: 56px;
}

.content-info .info-list-item .info-text .text-intro p {
  margin: 0;
  line-height: 1.3;
}

.content-info .info-list-item .info-text .text-about {
  padding-top: 70px;
  width: 10%;
  color: rgba(0, 0, 0, 0.8);
}

.content-info .info-list-item .info-text .text-about p::after {
  position: absolute;
  top: 10px;
  right: -140px;
  content: '';
  background: #000;
  width: 50px;
  height: 1px;
}

.content-info .info-list-item .info-text .text-about p {
  font-family: "Karla", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1em;
  transform: rotate(90deg)
}

.content-info .info-list-item .info-text .text-script {
  padding-left: 125px;
  text-align: justify;
}

.container-blog .blog-main .b-box-item .b-item-text p,
.work-detail .w-detail-text p,
.content-info .info-list-item .info-text .text-script p {
  margin-bottom: 1.5em;
  font-weight: 400;
  font-family: "Karla", Arial, sans-serif;
  font-size: 20px;
  color: #808080;
  line-height: 2;
  transform: translateY(-65px);
}

.info-list-item .info-text .text-contact {
  padding-left: 125px;
  transform: translateY(-105px);
}

.info-list-item .info-text .text-contact .contact-icon .icon {
  width: 25px;
  display: inline-block;
}

.info-list-item .info-text .text-contact .contact-icon .icon img {
  width: 100%;
}

.work-detail .w-detail-button button,
.info-list-item .info-text .text-contact .contact-button {
  background: transparent;
  color: #4d4d4d;
  border: 1px solid #d9d9d9;
  font-family: "Karla", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 180px;
  margin-top: 30px;
}

.work-detail .w-detail-button button:hover,
.info-list-item .info-text .text-contact .contact-button:hover {
  background-color: #CA82F8;
  color: #fcfcfc;
  cursor: pointer;
  transition: 0.5s;
}

.work-detail .w-detail-button button,
.info-list-item .info-text .text-contact .contact-button p {
  margin: 0;
  padding: 15px 20px;
  letter-spacing: 0.2em;
}

/* SERVICE */
.container-service {
  padding-bottom: 300px;
}

.service-box {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.service-box .service-info {
  flex-basis: 55%;
}

.service-info .s-info-tittle {
  margin-bottom: 80px;
}


.service-info .s-info-list-content {
  display: flex;
}

.s-info-list-content .s-content-left {
  flex-basis: 50%;
}

.s-info-list-content .s-content-right .s-content-box,
.s-info-list-content .s-content-left .s-content-box {
  padding-top: 30px;
}


.s-info-list-content .s-content-right .s-content-box h3,
.s-info-list-content .s-content-left .s-content-box h3 {
  font-family: "Karla", Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 18px;
}

.s-info-list-content .s-content-right .s-content-box ul li,
.s-info-list-content .s-content-left .s-content-box ul li {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 400;
  background: #fafafa;
  color: gray;
  margin-bottom: 10px;
  list-style: none;
}

.s-info-list-content .s-content-right .s-content-box ul li::before,
.s-info-list-content .s-content-left .s-content-box ul li::before {
  content: '\2022';
  color: #000;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.s-info-list-content .s-content-right {
  flex-basis: 50%;
}


.service-box .service-img {
  padding-top: 28px;
  flex-basis: 45%;
}

.service-box .service-img img {
  width: 100%;
}


/* Work */

.container-work {
  padding-bottom: 300px;
}

.work-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.work-box .w-box-list {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #a09da2;
  transition: all 0.5s ease;
}


.w-box-list .w-list-item .w-item-img {
  width: 90%;
  margin: 5%;
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.5);
}

.w-box-list .w-list-item .w-item-img img {
  width: 100%;
}

.w-box-list .w-list-item .w-item-view {
  width: 100%;
  position: absolute;
  top: 47%;
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease;
  cursor: pointer;
}

.w-box-list .w-list-item span {
  color: rgb(160 157 162);
  font-family: "Playfair Display", Georgia, serif;
  font-size: 35px;
  padding: 64px 100px;
  background-color: #fff;
  z-index: 2;
}

.work-box .overlay-work-box {
  position: absolute;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.work-detail {
  margin-left: 10%;
  margin-right: 10%;
}

.work-detail .w-detail-title {
  text-align: center;
}

.work-detail .w-detail-title h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.work-detail .w-detail-text {
  padding: 0 20%;
}

.work-detail .w-detail-text p {
  text-align: justify;
  transform: none;
}

.work-detail .w-detail-button {
  display: flex;
  justify-content: end;
  margin-right: 10%;
}

.work-detail .w-detail-button button {
  padding: 20px 20px;
  width: 200px;
}


/* ----------------------- Blog -------------------------------*/

.container-blog {
  margin-bottom: 300px;
}

.container-blog .blog-nav {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}
.container-blog .blog h3 {
  margin-bottom: 20px;
}

.container-blog .blog-nav .b-button-next,
.container-blog .blog-nav .b-button-prev {
  flex-basis: 2%;
}

.container-blog .blog-nav .b-button-next img,
.container-blog .blog-nav .b-button-prev img {
  width: 100%;
  background-color: #fff;
  border: 3px solid #f2f2f2;
  padding: 10px;
  transition: all 0.3s ease;
}

.container-blog .blog-nav .b-button-next {
  padding-right: 20px;
  padding-left: 20px;
}

.container-blog .blog-nav .b-button-prev {
  margin-right: 20px;
}

.container-blog .blog-nav .b-button-next img:hover,
.container-blog .blog-nav .b-button-prev img:hover {
  cursor: pointer;
  border: 3px solid #bfbfbf;
}

.container-blog .blog-main {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}
.container-blog .blog-main .b-box-list{
  display: flex;
  width: 1938px;
}
.container-blog .blog-main .b-box-item {
  flex-basis: 33%;
  padding: 0 10px;
  transition: all 0.5s ease;
}

.blog-main .b-box-item .b-item-img {
  margin-bottom: 40px;
  position: relative;
}

.blog-main .b-box-item .b-item-img span {
  margin-left: 20px;
  padding: 25px 15px;
  background-color: #a09da2;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Karla", Arial, sans-serif;
  box-shadow: 0px 2px 49px -4px rgba(0, 0, 0, 0.21);
  position: relative;
  z-index: 2;
}

.container-blog .blog-main .b-box-item .b-item-img img {
  width: 100%;
}


.blog-main .b-box-item .b-item-img .b-item-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 95%;
  top: 0;
  transition: all 0.5s ease;
}

.blog-main .b-box-item .b-item-img .b-item-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container-blog .blog-main .b-box-item .b-item-text h2 {
  font-size: 30px;
}

.container-blog .blog-main .b-box-item .b-item-text p {
  transform: none;
}

/* ---------------- Footer ----------------------*/

#footer {
  padding-bottom: 8em;
}

.container-footer {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
}

.container-footer .footer-box {
  flex-basis: 32%;
  margin-bottom: 5em;
}


.container-footer .footer-box .box-1 p,
.container-footer .footer-box .box-2 p,
.container-footer .footer-box .box-3 p {
  text-align: inherit !important;
}

#footer h2 {
  color: #000;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1.8em;
  font-size: 37px;
}

#footer p {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 400;
  background: #fafafa;
  color: gray;
  text-align: center;
}

/* Subscribe form */

.subscribe .text-form {
  border: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
  font-weight: 400;
  margin-bottom: 5px;
  border-radius: 30px;
  width: 99%;
  padding: 20px 0;
  height: 20px;
  text-align: center;
}

.text-form:focus {
  border: 3px solid #ca82f8;
  transition: border .5s ease;
}

.subscribe .submit {
  border: none;
  font-size: 16px;
  background: #ca82f8;
  font-weight: 400;
  margin-bottom: 5px;
  border-radius: 30px;
  width: 100%;
  padding: 18px 0;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Karla';
  cursor: pointer;
}

div.subscribe input[type="text"]::placeholder {
  width: 100%;
  color: #808080;
  font-size: 20px;
  text-align: center;
}

/* Button scrolling to the top */

.button-scrolling .button {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 65px;
  height: 50px;
}

.button-scrolling .button img:hover {
  opacity: 0.5;
  cursor: pointer;
}


/* test code */
.active{
  transform: translateX(388px);
}